PORT=3001

DB_PROVIDER=sqlserver

SQLSERVER_HOST=seu_servidor_aqui
SQLSERVER_PORT=1435
SQLSERVER_USER=seu_usuario
SQLSERVER_PASSWORD=sua_senha
SQLSERVER_DATABASE=seu_banco

SQLSERVER_ENCRYPT=true
SQLSERVER_TRUST_SERVER_CERTIFICATE=true
SQLSERVER_USE_UTC=false

TZ=America/Sao_Paulo
SQLSERVER_IP=192.168.x.x
